<!DOCTYPE html>
<html>
  <head>
    <title>Zege Money</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/nav'%>
    <div class="center">
    <% if flash[:notice] %>
      <div class="green"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="red"><%= flash[:alert] %></div>
    <% end %>
  </div>
    <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
